// This module defines all of the types and methods available in the ql-grep
// implementation of CodeQL. The goal is that this file serves as both documentation
// and as a specification for the type checker in the query parser/planner.
//
// Each top-level node encodes the API for a single type
//
// Methods with no arguments omit the arguments block
//
// Primitives are a subset of CodeQL:
//   - int
//   - boolean
//   - string

type "Function" {
    method "getAParameter" type="Parameter" \
        docstring=r"Return any parameter in the function signature; this is intended to be used in a relational context."
    method "getParameter" type="Parameter" status="Unimplemented" {
        parameter "index" type="int"
    }
    method "getType" type="Type" status="Unimplemented"
    method "getName" type="string" status="Unimplemented"
}

type "Method" {
    method "getAParameter" type="Parameter" \
        docstring=r"Return any parameter in the method signature; this is intended to be used in a relational context."
    method "getParameter" type="Parameter" status="Unimplemented" {
        parameter "index" type="int"
    }
    method "getType" type="Type" status="Unimplemented"
    method "getName" type="string" status="Unimplemented"
}

type "Callable" {
    method "getAParameter" type="Parameter" status="Unimplemented" \
        docstring=r"Return any parameter in signature of the callable; this is intended to be used in a relational context."
    method "getParameter" type="Parameter" status="Unimplemented" {
        parameter "index" type="int"
    }
    method "getType" type="Type" status="Unimplemented"
    method "getName" type="string" status="Unimplemented"
}

type "Parameter" {
    method "getType" type="Type" status="Unimplemented"
    method "getName" type="string" status="Unimplemented"
    method "getIndex" type="int" status="Unimplemented"
}

type "Type" {
    method "getName" type="string" status="Unimplemented"
}
